.noUi-connect {
	cursor: pointer;
	background-color: #ffeab4;
}

.noUi-target {
	background-color: rgba($color: #fff, $alpha: 0.3);
	border: none;
	box-shadow: none;
	height: rem(5.7);
	border-radius: rem(5.7);

	@media (min-width: $md5) {
		height: rem(6);
		border-radius: rem(6);
	}
	@media (min-width: $md2) {
		height: rem(8);
		border-radius: rem(8);
	}
}

.noUi-handle::after,
.noUi-handle::before {
	display: none;
}

.noUi-handle {
	box-shadow: none;
	border-radius: 50%;
	background: #0c1621;
	outline: 0;
	cursor: grab;
	box-shadow: 0 0 0 rem(2) #0c1621;
	border: rem(4) solid $yellow;
	@media (min-width: $md5) {
		border: rem(6) solid $yellow;
	}
	@media (min-width: $md2) {
		box-shadow: 0 0 0 rem(3) #0c1621;
		border: rem(8) solid $yellow;
	}
}

.noUi-horizontal .noUi-handle {
	width: rem(20);
	height: rem(20);
	right: rem(-10);
	top: rem(-8);
	@media (min-width: $md5) {
		width: rem(24);
		height: rem(24);
		right: rem(-12);
		top: rem(-9);
	}
	@media (min-width: $md2) {
		width: rem(28);
		height: rem(28);
		top: rem(-10);
		right: rem(-14);
	}
}
