.contacts {
	padding: em(60) em(0) rem(30) em(0);
	@media (min-width: $md4) {
		padding: em(90) em(0) rem(30) em(0);
	}
	@media (min-width: $md2) {
		padding: em(108) em(0) rem(30) em(0);
	}

	// .contacts__container
	&__container {
	}
	// .contacts__title
	&__title {
		.font-raleway & {
			@media (min-width: $md3) {
				font-size: rem(80);
			}
		}
	}

	// .contacts__body
	&__body {
		display: grid;
		margin: 1.75rem 0 0 0;
		gap: 2rem;
		@media (min-width: $md4) {
			gap: 1rem;
			margin: 2.75rem 0 0 0;
		}
		@media (min-width: $md1) {
			gap: 2.75rem;
			margin: 3.5rem 0 0 0;
			grid-template-columns: 1fr 1.175fr;
		}
		&.contacts__body-lg {
			grid-template-columns: 1fr;
			margin-top: rem(24);
			.contacts__form {
				@media (max-width: $md1) {
					display: grid;
					grid-template-columns: 1fr 1.175fr;
				}
				@media (max-width: $md4) {
					grid-template-columns: 1fr;
				}
			}
			@media (min-width: $md1) {
				margin-top: rem(40);
				grid-template-columns: 1fr rem(415);
				gap: rem(23);
			}
			@media (max-width: $md4) {
				gap: 0;
			}
			.contacts__feedback {
				padding: rem(26) rem(31);
				@media (max-width: $md1) {
					margin-top: rem(10);
					padding: rem(26) rem(24);
				}
				@media (max-width: $md4) {
					margin-top: 0;
					border: rem(1) solid rgba(255, 255, 255, 0.37);
					border-top: 0;
					padding: 1rem;
				}
				.form__checkbox {
					margin-top: rem(24);
					@media (max-width: $md2) {
						.form__checkbox-content {
							font-size: rem(12);
						}
					}
				}
			}
			.contacts__main-block {
				@media (max-width: $md5) {
					&::before {
						top: 1rem;
					}
					padding: 1rem 0.5rem 1rem 4.5rem;
				}
			}
			.contacts__main-link {
				@media (max-width: $md4) {
					font-size: 1rem;
				}
			}
			.contacts__main-subtitle {
				@media (max-width: $md4) {
					font-size: 0.875rem;
				}
			}
		}
	}
	// .contacts__grid
	&__grid {
		display: grid;
		@media (min-width: $md4) {
			gap: rem(23);
			grid-template-columns: repeat(3, 1fr);
		}
	}
	// .contacts__main
	&__main {
		display: grid;
		margin: 0 rem(-16);
		@media (min-width: $md4) {
			margin: 0;
			gap: 1rem;
			grid-template-columns: repeat(3, 1fr);
		}
		@media (min-width: $md1) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	// .contacts__main-block
	&__main-block {
		position: relative;
		border: 1px solid rgba(255, 255, 255, 0.37);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 1.6rem 1.5rem 1.6rem 4.7rem;
		&:not(:first-child) {
			border-top-width: 0;
		}
		@media (min-width: $md4) {
			padding: 1.5rem 1.5rem 1rem 1.5rem;

			&:not(:first-child) {
				border-top-width: 1px;
			}
		}
		@media (min-width: $md1) {
			padding: 1.5rem 1.5rem 1.75rem rem(30);
			.font-raleway & {
				min-height: rem(217);
				padding: 1.5rem 1.5rem rem(18) rem(24);
			}
		}
		&.icon-telegram {
			&::before {
				padding-right: 0.25rem;
			}
		}
		&::before {
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			background: $yellow;
			color: #232c32;
			width: 2.612rem;
			height: 2.612rem;
			font-size: 1.5rem;
			position: absolute;
			top: 1.65rem;
			left: 1rem;
			@media (min-width: $md4) {
				position: static;
				top: auto;
				left: auto;
				margin-bottom: 1.75rem;
				font-size: 2.35rem;
				width: 4rem;
				height: 4rem;
			}
			@media (min-width: $md2) {
				margin-bottom: 1.5rem;
			}
		}
		&.mobile-only {
			@media (min-width: $md4) {
				display: none;
			}
		}
	}
	// .contacts__main-link
	&__main-link {
		line-height: 1.4;
		color: #fff;
		transition: color 0.3s ease 0s;
		font-size: 1.25rem;
		@media (min-width: $md2) {
			font-size: 1.5rem;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $yellow;
			}
		}
	}
	// .contacts__main-subtitle
	&__main-subtitle {
		color: #b6bbc0;
		line-height: 1.6;
		font-size: 0.75rem;
		@media (min-width: $md4) {
			margin-top: 0.3rem;
		}
		@media (min-width: $md2) {
			margin-top: 0.37rem;
			font-size: 0.875rem;
		}
	}
	// .contacts__qr
	&__qr {
		display: none;
		@media (min-width: $md4) {
			border: 1px solid rgba(255, 255, 255, 0.37);
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding: 1.5rem 1.5rem 1rem 1.5rem;
		}
		@media (min-width: $md1) {
			padding: 1.5rem 1.5rem 1.75rem 1.5rem;
			align-items: center;
			flex-direction: row;
			grid-column: span 2;
		}
	}
	// .contacts__qr-code
	&__qr-code {
		@media (min-width: $md4) {
			background: #fff;
			flex-shrink: 0;
			height: 4.58369rem;
			width: 4.58369rem;
			margin: em(0) em(0) 1.5rem rem(0);
			padding: 0.54rem;
		}
		@media (min-width: $md1) {
			padding: 1.09rem;
			height: 9.3125rem;
			width: 9.3125rem;
			margin: em(0) 1.75rem em(0) em(0);
		}
	}
	// .contacts__qr-text
	&__qr-text {
		@media (min-width: $md4) {
			font-size: 0.875rem;
			line-height: 1.6;
		}
		@media (min-width: $md1) {
			line-height: 1.4;
			font-size: 1.5rem;
		}
	}
	// .contacts__feedback
	&__feedback {
		@media (min-width: $md4) {
			border: 1px solid rgba(255, 255, 255, 0.37);
			padding: 1.5rem 1.5rem;
		}
		@media (min-width: $md2) {
			padding: 1.5rem 2.5rem;
		}
	}
	// .contacts__form
	&__form {
	}
	// .contacts__succes
	&__succes {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		min-height: 100%;
	}
	&__succes-title {
		@extend .form__title;
	}
	// .contacts__subtitle
	&__subtitle {
		margin-top: 0.8rem;
		font-size: 1.125rem;
		line-height: 1.6;
	}
}
