.service-page {
	--background-image: url("@img/service-bg.jpg");
	background: linear-gradient(180deg, rgba(12, 22, 33, 0) 30%, #0c1621 100%),
		linear-gradient(180deg, rgba($color: #000000, $alpha: 0.5) 0%, rgba($color: #000000, $alpha: 0.5) 100%), var(--background-image) 100% 0 / cover no-repeat;
	padding: rem(66) em(0) rem(49) em(0);
	@media (min-width: $md4) {
		background: linear-gradient(180deg, rgba(12, 22, 33, 0) 30%, #0c1621 100%),
			linear-gradient(180deg, rgba($color: #000000, $alpha: 0.5) 0%, rgba($color: #000000, $alpha: 0.5) 100%), var(--background-image) 0 0 / cover no-repeat;
		position: relative;
		background-position: 0 0;
		padding: rem(100) em(0) rem(70) em(0);
		&::before {
			content: "";
			position: absolute;
			bottom: -5%;
			left: 0;
			width: rem(224);
			height: rem(360);
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='224' height='360' viewBox='0 0 224 360' fill='none'%3E%3Cpath d='M-227.272 25.9253C-233.865 23.6278 -240.743 21.0369 -247.794 19.8297C-206.909 99.6876 -271.79 79.9254 -278.174 75.2338C-283.772 71.1199 -281.43 11.0034 -288.745 8.31523C-299.481 4.37025 -337.86 77.5016 -349.277 75.2338C-372.879 70.5457 -375.79 -5.73825 -399.298 0.345162C-413.016 3.89504 -438.255 13.0431 -443.668 26.3048C-446.457 33.1374 -446.579 40.5886 -444.907 47.7102C-441.644 61.6107 -441.508 77.5422 -436.314 90.9004C-429.222 109.144 -410.594 122.697 -395.497 135.229C-383.495 145.193 -372.076 157.244 -357.49 164.073C-338.086 173.157 -313.611 173.015 -292.381 174.396C-271.556 175.751 -248.269 175.363 -228.429 168.703C-214.373 163.985 -202.26 162.859 -187.033 162.859C-151.662 162.859 -113.268 166.419 -79.5377 176.674C-55.2134 184.069 -34.1483 196.774 -12.3632 208.782C41.0195 238.206 93.5776 266.536 140.742 304.346C165.587 324.264 192.568 341.457 219.236 359.15C222.506 361.32 223.367 351.473 223.367 350.421C223.367 340.268 222.561 331.958 219.401 322.032C210.976 295.568 186.161 289.035 168.489 266.373C145.226 236.543 116.821 227.306 82.1149 208.782C34.2147 183.215 -11.1799 173.304 -60.569 150.199C-95.8527 133.693 -167.523 127.368 -201.821 109.269C-224.228 97.4463 -203.163 34.3263 -227.272 25.9253Z' fill='%23C6FF7E' fill-opacity='0.46'/%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-size: contain;
			pointer-events: none;
			filter: blur(90px);
		}
	}
	@media (min-width: $md2) {
		padding: rem(86) em(0) 7.25rem em(0);
		&::before {
			display: none;
		}
	}

	// .service-page__container
	&__container {
	}
	// .service-page__title
	&__title {
		max-width: rem(560);
		margin-top: 3.5rem;
		@media (min-width: $md5) {
			margin-top: 8rem;
		}
		@media (min-width: $md2) {
			max-width: rem(920);
			margin-top: 4.5rem;
		}
		.font-raleway & {
			@media (max-width: $md5) {
				font-size: rem(32);
			}
			@media (min-width: $md2) {
				font-size: rem(80);
			}
			&.title-xl {
				line-height: 109%;
			}
		}
	}
	// .service-page__list
	&__list {
		margin-top: rem(24);
		@media (max-width: $md4) {
			max-width: rem(240);
			display: flex;
			flex-direction: column;
			gap: rem(11);
		}
		@media (min-width: $md4) {
			columns: 3;
			column-rule: rem(1) solid rgba(255, 255, 255, 0.24);
			column-gap: rem(48);
			max-width: rem(630);
		}
		@media (min-width: $md2) {
			max-width: rem(1075);
			column-gap: rem(76);
			margin-top: rem(16);
		}
	}
	// .service-page__item
	&__item {
		display: flex;
		font-weight: 300;
		gap: rem(17);
		line-height: 140%;
		font-size: rem(16);
		@media (min-width: $md4) {
			font-size: rem(18);
			flex-direction: column;
			align-items: flex-start;
		}
		@media (min-width: $md2) {
			max-width: rem(290);
			line-height: 99%;
			font-size: rem(24);
		}

		&::before {
			border-radius: 50%;
			background: rgba(0, 0, 0, 0.5);
			flex-shrink: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			width: rem(20);
			height: rem(20);
			font-size: 0.5rem;
			@media (min-width: $md4) {
				font-size: 1rem;
				width: 2rem;
				height: 2rem;
			}
		}
	}
	// .service-page__btns
	&__btns {
		display: flex;
		flex-direction: column;
		margin-top: rem(22);
		gap: rem(16);
		@media (min-width: $md5) {
			gap: rem(33);
			margin-top: rem(40);
			flex-direction: row;
		}
		@media (min-width: $md2) {
			margin-top: rem(91);
		}
	}
	// .service-page__btn
	&__btn {
		@media (max-width: $md2) {
			font-size: rem(20);
		}
		@media (max-width: $md4) {
			font-size: rem(18);
			padding: rem(13);
		}
	}
}

.calc {
	padding: rem(20) 0 rem(30);
	@media (min-width: $md5) {
		padding: rem(48) 0 rem(40);
	}
	@media (min-width: $md2) {
		padding: rem(82) 0 rem(82);
	}
	// .calc__container
	&__container {
	}
	// .calc__title
	&__title {
		.font-raleway & {
			@media (min-width: $md2) {
				font-size: rem(80);
			}
			@media (max-width: $md5) {
				font-size: rem(32);
			}
		}
	}
	// .calc__body
	&__body {
		display: grid;
		border-top: rem(1) solid #34414f;
		border-left: rem(1) solid #34414f;
		margin-top: rem(24);
		@media (min-width: $md5) {
			margin-top: rem(28);
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md4) {
			grid-template-columns: 1.25fr repeat(2, 1fr);
		}
		@media (min-width: $md2) {
			margin-top: rem(55);
			grid-template-columns: repeat(4, 1fr);
		}
	}
	// .calc__block
	&__block {
		border-right: rem(1) solid #34414f;
		border-bottom: rem(1) solid #34414f;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: rem(15) rem(14);
		@media (min-width: $md5) {
			padding: rem(19) rem(24);
		}
		@media (min-width: $md2) {
			padding: rem(36);
		}
		&.calc__block-lg {
			@media (max-width: $md5) {
				padding-top: rem(24);
			}
			@media (min-width: $md5) {
				grid-column: span 2;
			}
			@media (min-width: $md4) {
				grid-column: span 3;
			}
			@media (min-width: $md2) {
				grid-column: span 2;
			}
		}
	}

	// .calc__block-caption
	&__block-caption {
		font-weight: 500;
		font-size: rem(18);
		line-height: 160%;
		@media (min-width: $md5) {
			line-height: 99%;
			font-size: rem(20);
		}
		@media (min-width: $md2) {
			font-size: rem(24);
		}
	}
	// .calc__block-row
	&__block-row {
	}
	// .calc__block-labels
	&__block-labels {
		display: flex;
		flex-wrap: wrap;
		gap: rem(24);
		margin-top: rem(10);
		@media (min-width: $md5) {
			margin-top: 1.5rem;
		}
	}
	// .calc__total
	&__total {
		border-right: rem(1) solid #34414f;
		border-bottom: rem(1) solid #34414f;
		background: rgba(255, 255, 255, 0.05);
		display: grid;
		align-items: center;
		gap: rem(24);
		padding: rem(24) rem(14);
		@media (min-width: $md5) {
			padding: rem(18) rem(24);
			grid-column: span 2;
		}
		@media (max-width: $md2) {
			@media (min-width: $md5) {
				&:has(.form__input._error) {
					padding-bottom: rem(32);
				}
			}
		}
		@media (min-width: $md4) {
			gap: 0;
			grid-column: span 3;
			grid-template-columns: 1.25fr 2fr;
		}
		@media (min-width: $md2) {
			padding: rem(43) rem(41);
			grid-template-columns: repeat(2, 1fr);
			grid-column: span 4;
		}
	}
	// .calc__total-column
	&__total-column {
		display: flex;
		align-items: center;
		gap: rem(8);
		@media (min-width: $md4) {
			align-items: flex-start;
			flex-direction: column;
			gap: rem(6);
		}
	}
	// .calc__total-title
	&__total-title {
		font-weight: 500;
		line-height: 99%;
		font-size: rem(18);
		@media (min-width: $md2) {
			font-size: rem(24);
		}
	}
	// .calc__total-value
	&__total-value {
		font-variant-numeric: lining-nums proportional-nums;
		line-height: 99%;
		font-size: rem(28);
		flex-shrink: 0;
		@media (min-width: $md5) {
			font-size: rem(26);
		}
		@media (min-width: $md2) {
			font-size: rem(48);
		}
	}
	// .calc__total-form
	&__total-form {
		display: grid;
		gap: rem(14);
		@media (min-width: $md5) {
			gap: rem(24);
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md2) {
			gap: rem(37);
		}
		.btn.btn-sm {
			@media (max-width: $md2) {
				font-size: 1rem;
				font-weight: 600;
				padding: rem(13) rem(28);
			}
			@media (max-width: $md5) {
				font-size: rem(18);
			}
		}
		.form__row {
			position: relative;
		}
		.form__error {
			@media (min-width: $md5) {
				position: absolute;
				top: 100%;
			}
			font-size: 0.65em;
			@media (min-width: $md2) {
				font-size: 0.75em;
			}
		}
	}
}

.range-slider {
	display: flex;
	flex-direction: column;
	gap: rem(16);
	margin-top: rem(8);
	@media (min-width: $md5) {
		gap: rem(38);
		flex-direction: row;
	}
	@media (min-width: $md2) {
		margin-top: rem(17);
	}
	// .range-slider__input
	&__input {
		font-variant-numeric: lining-nums;
		font-size: rem(16);
		@media (min-width: $md5) {
			font-size: rem(18);
			max-width: rem(232);
		}
		@media (min-width: $md2) {
			max-width: rem(132);
		}
	}
	// .range-slider__body
	&__body {
		flex: 1 1 auto;
		@media (min-width: $md3) {
			max-width: rem(365);
		}
	}
	// .range-slider__block
	&__block {
		margin-top: rem(4);
		@media (min-width: $md5) {
			margin-top: rem(10);
		}
	}
	// .range-slider__bottom
	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		opacity: 0.6;
		font-weight: 500;
		line-height: 99%;
		font-size: rem(12);
		margin-top: rem(16);
		@media (min-width: $md5) {
			margin-top: rem(25);
			font-size: rem(14);
		}
	}
	// .range-slider__start
	&__start {
	}
	// .range-slider__end
	&__end {
	}
}

.examples {
	padding: rem(40) 0 rem(40);
	@media (min-width: $md2) {
		padding: rem(69) 0 rem(78);
	}
	// .examples__container
	&__container {
	}
	// .examples__title
	&__title {
		.font-raleway & {
			@media (min-width: $md2) {
				font-size: rem(80);
			}
			@media (max-width: $md5) {
				font-size: rem(32);
			}
		}
	}
	// .examples__slider
	&__slider {
		position: relative;
		margin-top: rem(24);
		@media (min-width: $md5) {
			margin-top: rem(33);
		}
		@media (min-width: $md2) {
			margin-top: rem(62);
		}
	}
	// .examples__prev
	&__prev {
		@media (max-width: $md2) {
			position: static;
			inset: auto;
			margin: 0;
			transform: none;
			width: rem(52);
			height: rem(52);
		}
		@media (max-width: $md5) {
			width: rem(34);
			height: rem(34);
		}
		@media (min-width: $md2) {
			left: -1rem;
		}
		@media (min-width: 1630px) {
			right: calc(100% + 3.5rem);
			left: auto;
		}
	}
	// .examples__next
	&__next {
		@media (max-width: $md2) {
			position: static;
			inset: auto;
			margin: 0;
			transform: none;
			width: rem(52);
			height: rem(52);
		}
		@media (max-width: $md5) {
			width: rem(34);
			height: rem(34);
		}
		@media (min-width: $md2) {
			right: -1rem;
		}
		@media (min-width: 1630px) {
			left: calc(100% + 3.5rem);
			right: auto;
		}
	}
	// .examples__slide
	&__slide {
	}
	// .examples__controls
	&__controls {
		@media (max-width: $md2) {
			margin-top: rem(15);
			display: flex;
			justify-content: center;
			gap: rem(32);
		}
		@media (max-width: $md5) {
			margin-top: rem(10);
			justify-content: space-between;
		}
	}
}

.deadlines {
	padding: rem(24) 0 rem(30);
	@media (min-width: $md5) {
		padding: rem(45) 0 rem(40);
	}
	@media (min-width: $md2) {
		padding: rem(80) 0 rem(40);
	}
	// .deadlines__container
	&__container {
	}
	// .deadlines__title
	&__title {
		.font-raleway & {
			@media (min-width: $md2) {
				font-size: rem(80);
			}
			@media (max-width: $md5) {
				font-size: rem(32);
			}
		}
	}
	// .deadlines__list
	&__list {
		display: grid;
		border-top: rem(1) solid #34414f;
		border-left: rem(1) solid #34414f;
		margin-top: rem(28);
		@media (min-width: $md5) {
			margin-top: rem(33);
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md4) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media (min-width: $md2) {
			margin-top: rem(56);
		}
	}
	// .deadlines__item
	&__item {
		border-bottom: rem(1) solid #34414f;
		border-right: rem(1) solid #34414f;
		padding: rem(16) rem(14);
		@media (min-width: $md5) {
			padding: rem(30) rem(24);
		}
		@media (min-width: $md2) {
			padding: rem(46) rem(30);
		}
	}
	// .deadlines__item-caption
	&__item-caption {
		line-height: 140%;
		font-size: rem(16);
		@media (min-width: $md5) {
			font-size: rem(24);
			& span {
				display: none;
			}
		}
		@media (min-width: $md2) {
			line-height: 99%;
			font-size: rem(30);
			& span {
				display: inline;
			}
		}
	}
	// .deadlines__item-value
	&__item-value {
		color: #ffeab4;
		font-size: rem(26);
		line-height: 99%;
		margin-top: rem(8);
		@media (min-width: $md5) {
			line-height: 140%;
			font-size: rem(24);
			margin-top: rem(16);
		}
		@media (min-width: $md2) {
			line-height: 99%;
			margin-top: rem(24);
			font-size: rem(40);
		}
	}
	// .deadlines__item-desc
	&__item-desc {
		line-height: 140%;
		margin-top: rem(10);
		font-size: rem(14);
		@media (min-width: $md4) {
			font-size: rem(16);
		}
		@media (min-width: $md2) {
			margin-top: rem(12);
			line-height: 160%;
			font-size: rem(18);
		}
	}
}

.progress {
	padding: rem(32) 0;
	@media (min-width: $md5) {
		padding: rem(40) 0 rem(11);
	}
	@media (min-width: $md2) {
		padding: rem(80) 0 rem(59);
	}
	// .progress__container
	&__container {
	}
	// .progress__title
	&__title {
		.font-raleway & {
			@media (min-width: $md2) {
				font-size: rem(80);
			}
			@media (max-width: $md5) {
				font-size: rem(32);
			}
		}
	}
	// .progress__blocks
	&__blocks {
		margin-top: rem(22);
		@media (min-width: $md5) {
			margin-top: rem(28);
		}
		@media (min-width: $md2) {
			margin-top: rem(70);
		}
	}
	// .progress__block
	&__block {
		&:not(:last-child) {
			margin-bottom: rem(24);
			@media (min-width: $md2) {
				margin-bottom: rem(56);
			}
		}
	}
	// .progress__caption
	&__caption {
		color: #ffeab4;
		line-height: 99%;
		font-size: rem(20);
		@media (min-width: $md5) {
			font-size: rem(32);
		}
		@media (min-width: $md2) {
			font-size: rem(40);
		}
	}
	// .progress__list
	&__list {
		border: rem(1) solid #34414f;
		margin-top: rem(16);
		padding: rem(6) 0 0 0;
		@media (min-width: $md5) {
			padding: 0;
			margin-top: rem(32);
		}
	}
	// .progress__item
	&__item {
		display: flex;
		align-items: center;
		&:not(:last-child) {
			border-bottom: rem(1) solid #34414f;
		}
		flex-wrap: wrap;
		padding: rem(16) rem(14);
		gap: rem(12);
		row-gap: rem(16);
		@media (min-width: $md5) {
			gap: rem(32);
			padding: rem(18) rem(23);
			flex-wrap: nowrap;
		}
		@media (min-width: $md2) {
			padding: rem(10) rem(23);
		}
	}
	// .progress__item-icon
	&__item-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		background: rgba(255, 234, 180, 0.13);
		width: rem(46);
		height: rem(46);
		padding: rem(12);
		border-radius: rem(12);
		@media (min-width: $md5) {
			border-radius: rem(19);
			width: rem(56);
			height: rem(56);
			padding: rem(14);
		}
		@media (min-width: $md2) {
			width: rem(72);
			height: rem(72);
			padding: rem(14);
		}
	}
	// .progress__item-title
	&__item-title {
		line-height: 140%;
		flex: 0 0 calc(100% - rem(58));
		font-size: rem(14);
		@media (min-width: $md5) {
			font-size: rem(20);
			flex: 0 1 auto;
		}
		@media (min-width: $md2) {
			font-size: rem(24);
		}
	}
	// .progress__item-btn
	&__item-btn {
		flex: 0 0 100%;
		margin-bottom: rem(6);
		@media (min-width: $md5) {
			margin-left: auto;
			margin-bottom: 0;
			flex: 0 1 auto;
		}
		font-size: rem(14);
		font-weight: 500;
		line-height: 160%;
		color: #fff;
		padding: rem(9) rem(23.5);
		text-align: center;
		border-radius: rem(60);
		border: rem(1) solid #ffeab4;
		transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background-color: #ffeab4;
				color: $text;
			}
		}
	}
}

.types-repairs {
	padding: rem(30) 0;
	@media (min-width: $md5) {
		padding: rem(44) 0 rem(52);
	}
	@media (min-width: $md2) {
		padding: rem(57) 0 rem(60);
	}
	// .types-repairs__container
	&__container {
	}
	// .types-repairs__title
	&__title {
		.font-raleway & {
			@media (min-width: $md2) {
				font-size: rem(80);
			}
			@media (max-width: $md5) {
				font-size: rem(32);
			}
		}
	}
	// .types-repairs__tabs
	&__tabs {
		margin-top: rem(24);
		@media (min-width: $md5) {
			margin-top: rem(20);
		}
		@media (min-width: $md2) {
			margin-top: rem(40);
		}
		text-transform: uppercase;
	}
	// .types-repairs__tab
	&__tab {
	}
	// .types-repairs__tab-contents
	&__tab-contents {
	}
	// .types-repairs__tab-content
	&__tab-content {
	}
	// .types-repairs__body
	&__body {
		border: rem(1) solid #34414f;
		display: grid;
		margin-top: rem(22);
		gap: rem(24);
		padding: rem(16) rem(14);
		@media (min-width: $md4) {
			padding: rem(24);
			gap: 0;
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md2) {
			padding: rem(56);
			margin-top: rem(51);
		}
	}
	// .types-repairs__main
	&__main {
		order: 1;
		@media (min-width: $md4) {
			order: 0;
			padding-right: rem(25);
		}
		@media (min-width: $md2) {
			padding-right: 3.56rem;
		}
	}
	// .types-repairs__list
	&__list {
		color: #fff;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		line-height: 140%;
		font-size: 0.875rem;
		@media (min-width: $md5) {
			font-size: 1rem;
		}
		@media (min-width: $md2) {
			line-height: 160%;
			font-size: 1.125rem;
		}
		& li {
			position: relative;
			padding-left: 1.75rem;
			@media (min-width: $md4) {
				padding-left: 2.25rem;
			}
			@media (min-width: $md2) {
				padding-left: 2.5rem;
			}
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 1.25rem;
				height: 1.25rem;
				@media (min-width: $md2) {
					width: 1.5rem;
					height: 1.5rem;
				}
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='0.5' width='24' height='24' rx='12' fill='%23FFEAB4'/%3E%3Cpath d='M7.63672 12.5L10.3366 15.1999L16.1222 9.41443' stroke='%230C1621' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
			}
			&:not(:last-child) {
				margin-bottom: rem(14);
				@media (min-width: $md2) {
					margin-bottom: 1rem;
				}
			}
		}
	}
	// .types-repairs__bottom
	&__bottom {
		border: rem(1) solid #34414f;
		display: flex;
		margin-top: rem(25);
		flex-direction: column;
		@media (min-width: 839.98px) {
			flex-direction: row;
		}
		@media (min-width: $md2) {
			margin-top: 3.62rem;
		}
	}
	// .types-repairs__bottom-block
	&__bottom-block {
		flex: 1 1 auto;
		padding: rem(15) rem(14);
		@media (min-width: $md2) {
			padding: 1.25rem;
		}
		@media (max-width: 839.98px) {
			&:not(:last-child) {
				border-bottom: rem(1) solid #34414f;
			}
		}
		@media (min-width: 839.98px) {
			&:not(:last-child) {
				border-right: rem(1) solid #34414f;
			}
		}
	}
	// .types-repairs__bottom-caption
	&__bottom-caption {
		color: #ffeab4;
		line-height: 99%;
		text-transform: uppercase;
		font-size: rem(14);
		font-weight: 600;
		@media (min-width: $md4) {
			font-weight: 500;
			font-size: 0.75rem;
		}
		@media (min-width: $md2) {
			font-size: 1rem;
		}
	}
	// .types-repairs__bottom-value
	&__bottom-value {
		margin-top: 0.5rem;
		color: #fff;
		line-height: 99%;
		& sup {
			font-size: 0.5em;
		}
		font-size: 1.5rem;
		@media (min-width: $md2) {
			font-size: 2rem;
		}
	}
	// .types-repairs__slider
	&__slider {
		width: 100%;
	}
	// .types-repairs__slide
	&__slide {
		position: relative;
		width: 100%;
		aspect-ratio: math.div(260, 233);
		min-height: rem(233);
		@media (max-width: $md4) {
			height: 100%;
		}
		& img {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	// .types-repairs__pagination
	&__pagination {
		&.swiper-pagination {
			position: absolute;
			width: fit-content;
			left: 50%;
			transform: translateX(-50%);
			border-radius: 6.25rem;
			background: rgba(0, 0, 0, 0.7);
			backdrop-filter: blur(rem(9));
			-webkit-backdrop-filter: blur(rem(9));
			--swiper-pagination-bottom: #{rem(10)};
			--swiper-pagination-bullet-horizontal-gap: 0.375rem;
			padding: 0.35rem 0.62rem;
			@media (min-width: $md4) {
				padding: 0.62rem;
				--swiper-pagination-bullet-horizontal-gap: 0.5rem;
				--swiper-pagination-bottom: 1rem;
			}
			@media (min-width: $md2) {
				--swiper-pagination-bottom: 2rem;
			}
			.swiper-pagination-bullet {
				background: rgba(255, 255, 255, 0.4);
				width: 0.5rem;
				height: 0.5rem;
				@media (min-width: $md4) {
					width: 0.75rem;
					height: 0.75rem;
				}
				opacity: 1;
				&.swiper-pagination-bullet-active {
					background: #fff;
					transform: scale(math.div(1.25, 0.75));
				}
			}
		}
	}
	// .types-repairs__footer
	&__footer {
		border: rem(1) solid #34414f;
		border-top: 0;
		background: rgba(255, 255, 255, 0.05);
		display: grid;
		gap: 1.5rem;
		padding: 1.5rem 0.87rem 1.5rem;
		@media (max-width: $md4) {
			@media (min-width: $md5) {
				&:has(.form__input._error) {
					padding-bottom: 3.5rem;
				}
			}
		}
		@media (min-width: $md4) {
			padding: 1.5rem 2.44rem 2.56rem;
		}
		@media (min-width: $md2) {
			padding: 2.62rem 2.44rem;
			align-items: start;
			grid-template-columns: 0.85fr 1fr;
		}
	}
	// .types-repairs__footer-column
	&__footer-column {
	}
	// .types-repairs__footer-title
	&__footer-title {
		color: #fff;
		line-height: 140%;
		font-size: 1.5rem;
		@media (min-width: $md5) {
			line-height: 99%;
			font-size: 2rem;
		}
		@media (min-width: $md2) {
			font-size: 2.75rem;
		}
	}
	// .types-repairs__footer-desc
	&__footer-desc {
		margin-top: 0.87rem;
		font-weight: 300;
		line-height: 130%;
		font-size: 0.875rem;
		@media (min-width: $md2) {
			font-size: 1rem;
		}
	}
	// .types-repairs__form
	&__form {
		display: flex;

		gap: 0.75rem;
		flex-direction: column;
		@media (min-width: $md5) {
			flex-direction: row;
		}
		@media (min-width: $md2) {
			gap: 1.5rem;
		}
		.form__row {
			width: 100%;
			@media (min-width: $md5) {
				position: relative;
				.form__error {
					position: absolute;
					top: 100%;
				}
			}
		}
		.btn {
			min-width: 10.8125rem;
		}
	}
}

.reviews {
	padding: 2rem 0 1.88rem;
	@media (min-width: $md5) {
		padding: 3.75rem 0 rem(59);
	}
	@media (min-width: $md2) {
		padding: rem(10) 0 rem(59);
	}
	// .reviews__container
	&__container {
	}
	// .reviews__title
	&__title {
		.font-raleway & {
			@media (min-width: $md2) {
				font-size: rem(80);
			}
			@media (max-width: $md5) {
				font-size: rem(32);
			}
		}
	}
	// .reviews__tabs
	&__tabs {
		margin-top: rem(20);
		@media (min-width: $md2) {
			margin-top: rem(40);
		}
		.tabs__item.active {
			padding-inline: rem(28.5);
		}
	}
	// .reviews__tabs-content
	&__tabs-content {
		margin-top: 1.31rem;
		@media (min-width: $md2) {
			margin-top: rem(51);
		}
	}
	// .reviews__body
	&__body {
		display: grid;
		gap: 1.5rem;
		@media (min-width: $md2) {
			gap: rem(51);
			grid-template-columns: repeat(2, 1fr);
		}
	}
	// .reviews__column
	&__column {
	}
	// .reviews__item
	&__item {
		border-radius: 1rem;
		background: rgba(255, 255, 255, 0.04);
		padding: 1rem 0.88rem;
		@media (min-width: $md5) {
			padding: 1.5rem;
		}
		&:not(:last-child) {
			margin-bottom: 1rem;
			@media (min-width: $md5) {
				margin-bottom: 1.5rem;
			}
		}
		@media (min-width: $md2) {
			&:not(:last-child) {
				margin-bottom: 3.12rem;
			}
			&.lg-offset {
				&:not(:last-child) {
					margin-bottom: 4.94rem;
				}
			}
		}
	}
	// .reviews__item-rate
	&__item-rate {
		display: flex;
		gap: 0.62rem;
	}
	// .reviews__item-star
	&__item-star {
		width: 1.125rem;
		@media (min-width: $md5) {
			width: 1.5rem;
		}
	}
	// .reviews__item-quote
	&__item-quote {
		margin-top: 0.62rem;
		color: #fff;
		font-size: 0.875rem;
		line-height: 140%;
		@media (min-width: $md5) {
			line-height: 160%;
			font-size: 1.125rem;
		}
	}
	// .reviews__item-author
	&__item-author {
		display: flex;
		align-items: center;
		margin-top: 1.19rem;
		gap: 0.75rem;
		@media (min-width: $md5) {
			gap: 1.19rem;
		}
	}
	// .reviews__item-thumb
	&__item-thumb {
		width: 2.125rem;
		height: 2.125rem;
		@media (min-width: $md5) {
			width: 3.3125rem;
			height: 3.3125rem;
		}
		flex-shrink: 0;
		& img {
			border-radius: 50%;
		}
	}
	// .reviews__item-name
	&__item-name {
		line-height: 140%;
		font-size: 0.875rem;
		@media (min-width: $md5) {
			font-size: 1.5rem;
		}
	}
	// .reviews__more
	&__more {
		width: 100%;

		.font-raleway & {
			font-size: 1.25rem;
			font-weight: 600;
			@media (min-width: $md2) {
				font-size: 1.5rem;
			}
			@media (max-width: $md5) {
				padding: 0.875rem;
				font-size: 1rem;
				font-weight: 500;
			}
		}
		margin-top: 1.87rem;
		@media (min-width: $md5) {
			margin-top: 3.75rem;
		}
		@media (min-width: $md2) {
			margin-top: 3.5rem;
			min-width: 17.625rem;
			width: auto;
		}
	}
}

.where {
	padding: 1.88rem 0 1.88rem;
	@media (min-width: $md5) {
		padding: 2rem 0;
	}
	@media (min-width: $md2) {
		padding: rem(80) 0 rem(91);
	}
	// .where__container
	&__container {
	}
	// .where__title
	&__title {
		.font-raleway & {
			@media (min-width: $md2) {
				font-size: rem(80);
			}
			@media (max-width: $md5) {
				font-size: rem(32);
			}
		}
	}
	// .where__tabs
	&__tabs {
		margin-top: rem(20);
		@media (min-width: $md5) {
			margin-top: rem(24);
		}
		@media (min-width: $md2) {
			margin-top: rem(41);
		}
	}
	// .where__tabs-contents
	&__tabs-contents {
		margin: rem(30) 0 0 0;
		@media (min-width: $md5) {
			margin: rem(38) 0 0 0;
		}
		@media (min-width: $md2) {
			margin: rem(48) 0 0 0;
		}
	}
	// .where__tabs-content
	&__tabs-content {
	}
	// .where__list
	&__list {
		border-top: rem(1) solid rgba(255, 255, 255, 0.2);
		@media (max-width: $md5) {
			margin-left: -1rem;
			margin-right: -1rem;
		}
	}
	// .where__item
	&__item {
		display: flex;
		border-bottom: rem(1) solid rgba(255, 255, 255, 0.2);
		gap: 1.5rem;
		flex-direction: column;
		padding: 1.5rem 1.875rem;
		@media (min-width: $md5) {
			padding: 1.25rem 0rem;
		}
		@media (min-width: $md4) {
			padding: 1.25rem 0;
			align-items: center;
			flex-direction: row;
		}
		@media (min-width: $md2) {
			padding: rem(23) 0;
			gap: 3rem;
		}
	}
	// .where__item-image
	&__item-image {
		& img {
			@media (max-width: $md4) {
				min-height: 12.1rem;
			}
		}
		@media (min-width: $md4) {
			flex: 0 0 rem(188);
		}
		@media (min-width: $md2) {
			flex: 0 0 rem(246);
		}
	}
	// .where__item-body
	&__item-body {
		flex: 1 1 auto;
		display: flex;
		gap: 0.88rem;
		flex-direction: column;
		@media (min-width: $md5) {
			flex-direction: row;
			justify-content: space-between;
		}
		@media (min-width: $md4) {
			flex-direction: row;
			justify-content: stretch;
		}
		@media (min-width: $md2) {
			gap: rem(85);
		}
	}
	// .where__item-column
	&__item-column {
	}
	// .where__item-caption
	&__item-caption {
		color: #ffeab4;
		font-weight: 500;
		text-transform: uppercase;
		font-size: 0.875rem;
		line-height: 160%;
		@media (min-width: $md5) {
			line-height: 99%;
		}
		@media (min-width: $md2) {
			font-size: 1rem;
		}
	}
	// .where__item-text
	&__item-text {
		font-size: 1rem;
		line-height: 140%;
		@media (min-width: $md5) {
			margin-top: 0.87rem;
		}
		@media (min-width: $md2) {
			margin-top: 1.12rem;
			font-size: 1.5rem;
		}
	}
	// .where__more
	&__more {
		width: 100%;

		.font-raleway & {
			font-size: 1.25rem;
			font-weight: 600;
			@media (min-width: $md2) {
				font-size: 1.5rem;
			}
			@media (max-width: $md5) {
				padding: 0.875rem;
				font-size: 1rem;
				font-weight: 500;
			}
		}
		margin-top: 1.87rem;
		@media (min-width: $md5) {
			margin-top: 3.75rem;
		}
		@media (min-width: $md2) {
			margin-top: 3.5rem;
			min-width: 17.625rem;
			width: auto;
		}
	}
}

.why-us {
	padding: 2.6rem 0 2.6rem;
	@media (min-width: $md4) {
		padding: 4rem 0 5.5rem;
	}
	@media (min-width: $md2) {
		padding: 4rem 0 9.25rem;
	}
	// .why-us__container
	&__container {
	}
	// .why-us__title
	&__title {
		.font-raleway & {
			@media (min-width: $md2) {
				font-size: rem(80);
			}
			@media (max-width: $md5) {
				font-size: rem(32);
				line-height: 110% !important;
			}
		}
	}
	// .why-us__grid
	&__grid {
		display: grid;
		margin-top: 2.06rem;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
		row-gap: 1.5rem;
		@media (min-width: $md4) {
			row-gap: 5.19rem;
			gap: 1.5rem;
			grid-template-columns: repeat(4, 1fr);
		}
		@media (min-width: $md2) {
			gap: 3.69rem;
			margin-top: 4.385rem;
			padding: 0 rem(19);
		}
	}
	// .why-us__item
	&__item {
		display: flex;
		flex-direction: column;
		@media (min-width: $md4) {
			@for $i from 1 through 4 {
				&:nth-child(4n + #{$i}) {
					transition-delay: #{$i * 220}ms;
				}
			}
		}
		@media (max-width: $md4) {
			@for $i from 1 through 2 {
				&:nth-child(2n + #{$i}) {
					transition-delay: #{$i * 220}ms;
				}
			}
		}
	}
	// .why-us__item-icon
	&__item-icon {
		position: relative;
		border-radius: rem(380) rem(380) 0 0;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #0c1621;
		max-width: 6.3365rem;
		padding: 1.4rem 2.18rem 5.02rem;
		@media (min-width: $md4) {
			max-width: 8.7125rem;
			padding: 1.92rem 1.92rem 6.29rem;
		}
		@media (min-width: $md2) {
			padding: 2.5rem 2.5rem 8.19rem;
			max-width: 11.34506rem;
		}
		& img {
			width: 2rem;
			height: 2rem;
			@media (min-width: $md5) {
				width: 3.35981rem;
				height: 3.35981rem;
			}
			@media (min-width: $md2) {
				width: 4.375rem;
				height: 4.375rem;
			}
		}
		&::after {
			content: "";
			position: absolute;
			top: -2.9rem;
			left: 50%;
			transform: translateX(-50%);
			width: 20.72081rem;
			height: 12.13794rem;
			pointer-events: none;
			filter: blur(42px);
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='381' height='278' viewBox='0 0 381 278' fill='none'%3E%3Cpath d='M234.213 -102.279C241.097 -104.895 248.277 -107.846 255.638 -109.221C212.954 -18.2758 280.691 -40.7817 287.356 -46.1246C293.2 -50.8097 290.755 -119.272 298.392 -122.334C309.601 -126.826 349.669 -43.5419 361.589 -46.1246C386.23 -51.4635 389.269 -138.338 413.812 -131.41C428.133 -127.367 454.483 -116.949 460.135 -101.846C463.047 -94.0653 463.174 -85.5796 461.429 -77.4694C458.022 -61.639 457.879 -43.4957 452.458 -28.2831C445.053 -7.50703 425.605 7.9283 409.844 22.2C397.313 33.5466 385.391 47.2716 370.163 55.0485C349.905 65.3938 324.353 65.2315 302.188 66.8048C280.447 68.3481 256.134 67.9059 235.421 60.3216C220.746 54.9486 208.1 53.6654 192.203 53.6654C155.275 53.6654 115.19 57.7197 79.9753 69.3981C54.5802 77.8199 32.5878 92.2887 9.84373 105.964C-45.8889 139.473 -100.761 171.737 -150.001 214.796C-175.94 237.479 -204.109 257.058 -231.951 277.208C-235.365 279.679 -236.264 268.466 -236.264 267.267C-236.264 255.704 -235.422 246.24 -232.123 234.937C-223.327 204.798 -197.42 197.358 -178.969 171.551C-154.683 137.58 -125.027 127.06 -88.7934 105.964C-38.7846 76.8474 8.60829 65.5604 60.1716 39.248C97.0085 20.4504 171.834 13.247 207.642 -7.36373C231.035 -20.8283 209.043 -92.7114 234.213 -102.279Z' fill='%23FFBC7E' fill-opacity='0.56'/%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-size: contain;
			z-index: 1;
		}
	}
	// .why-us__item-desc
	&__item-desc {
		position: relative;
		z-index: 2;
		font-size: 0.875rem;
		line-height: 120%;
		margin-top: -3rem;
		@media (min-width: $md5) {
			line-height: 140%;
			font-size: 1rem;
			margin-top: -2.5rem;
		}
		@media (min-width: $md2) {
			margin-top: -3rem;
			font-size: 1.5rem;
		}
	}
}
