.footer {
	background: #0c1621;
	color: #fff;
	padding: 2.5rem 0 1.69rem;
	@media (min-width: $md4) {
		padding: 3rem 0 1.62rem;
	}
	@media (min-width: $md2) {
		padding: 3.5rem 0 4.1rem;
	}
	// .footer__container
	&__container {
	}
	&__header {
		display: flex;
		flex-direction: column;
		@media (min-width: $md3) {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}
	}
	// .footer__main
	&__main {
		display: flex;
		flex-direction: column-reverse;
		margin-top: 1rem;
		@media (min-width: $md5) {
			margin-top: 1.25rem;
		}
		@media (min-width: $md3) {
			margin-top: 1.5rem;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
	}
	// .footer__logo
	&__logo {
		flex-shrink: 0;
		width: rem(134);
		margin-right: 2rem;
	}
	// .footer__copy
	&__copy {
		line-height: 1.6;
		transition-delay: 110ms;
		font-size: 0.875rem;
		margin: 1.5rem em(0) em(0) em(0);
		@media (min-width: $md5) {
			margin: 2.31rem em(0) em(0) em(0);
			font-size: 1.125rem;
		}
		@media (min-width: $md3) {
			border-left: 1px solid rgba($color: #fff, $alpha: 0.2);
			font-size: 0.875rem;
			margin: em(0) auto em(0) em(0);
			padding: em(0) 1rem em(0) 1rem;
		}
	}
	&__menu {
		@media (max-width: $md3) {
			display: none;
		}
		.menu__list {
			justify-content: flex-end;
			flex-wrap: wrap;
			gap: 1.5rem;
			row-gap: 0.35rem;
			@media (min-width: $md2) {
				gap: 2.12rem;
			}
		}
	}
	// .footer__policies
	&__policies {
		line-height: 1.6;
		transition-delay: 220ms;
		font-size: 0.875rem;
		@media (min-width: $md5) {
			font-size: 1.125rem;
		}
		@media (min-width: $md2) {
			font-size: 0.875rem;
		}
	}
	// .footer__policy
	&__policy {
		color: $yellow;
		@media (any-hover: hover) {
			&:hover {
				color: darken($color: $yellow, $amount: 10);
			}
		}
	}
	// .footer__contacts
	&__contacts {
		transition-delay: 330ms;
		display: flex;
		flex-direction: column;
		margin: 2.5rem em(0) em(0) em(0);
		gap: 0.875rem;
		@media (min-width: $md2) {
			margin: 0;
		}
		@media (min-width: $md1) {
			gap: 2rem;
			flex-direction: row;
		}
	}
	// .footer__contact
	&__contact {
		display: flex;
		align-items: center;
		gap: 1rem;
		font-size: 1rem;
		@media (min-width: $md5) {
			font-size: 1.25rem;
		}
		@media (min-width: $md2) {
			font-size: 1rem;
		}
		&::before {
			width: 2rem;
			height: 2rem;
			font-size: 1em;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #fff;
			flex-shrink: 0;
			background: #323c42;
		}
		&[href] {
			@media (any-hover: hover) {
				&:hover {
					color: $yellow;
				}
			}
		}
		@for $i from 1 through 2 {
			&:nth-child(#{$i}) {
				transition-delay: #{385 + $i * 55}ms;
			}
		}
	}
}
